.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}

.titleSpan {
  color: var(--main-color);
}

.desc {
  text-align: justify;
}
